.header-container {
  position: fixed;
  z-index: 100;
  overflow: visible;
  width: 100%;
  margin: 0;
  padding: 0;

  .container {
    position: relative;
  }
}

.rullaa-alas {
  @include horizontal-align();
  position: absolute;
  bottom: 15px;
  z-index: 10;

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: .6;
    font-size: 3rem;

    svg {
      transition: 400ms ease 100ms;
      fill: #fff;
    }
  }
}

// Page
.shade {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  background: #444;
}

.irclog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 500px;
  z-index: 2;
}

.irclog-page {
  width: 100%;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
}

.hidden {
  display: none;
}

.slide {
  @include background-cover();
  position: relative;
  color: #fff;
  border: 0;
  background-color: #fff;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;

  .container {
    position: relative;
    z-index: 3;
  }

  h1,
  h2 {
    margin-top: 0;
  }

  &.slide-irclog {
    overflow: auto;
    height: 500px;

    .button {
      background: transparent;
      text-transform: none;
      box-shadow: none;
      font-weight: 400px;
      border: 3px solid #fff;
      width: 65%;

      @media (max-width: $container-ipad) {
        width: 100%;
      }

      &:hover {
        background: #fff;
        color: $color-text;
      }

      &.blur-button {
        text-shadow: 0 0 22px #fff;
        opacity: .5;
        background: transparent;
        color: transparent;
        box-shadow: 0 0 17px 8px #fff, #fff 0 0 17px 8px inset;
      }
    }

    .shade {
      opacity: .6;
      background: #222;
    }

    .container {
      @include centered();
      position: absolute;
      text-align: center;
      max-width: 600px;

      @media (max-width: $container-mobile) {
        padding-left: 0;
        padding-right: 0;
      }

      h2 {
        font-weight: 900;
        letter-spacing: .2em;
        margin-bottom: 20;
        position: relative;
        text-transform: uppercase;
        font-size: 2rem;

        &.blur {
          text-shadow: 0 0 22px #fff;
          opacity: .5;
          background: transparent;
          color: transparent;
        }
      }

      h2,
      p,
      span,
      a {
        color: #fff;
        text-decoration: none;
        outline: 0 none;
        transition: 400ms ease 100ms;
      }

      p {
        &.blur {
          text-shadow: 0 0 22px #fff;
          opacity: .5;
          background: transparent;
          color: transparent;
        }
      }
    }
  }

  &.slide-esittely {
    background: #fdfdfd;
    z-index: 10;
    text-align: center;

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    .type {
      margin-bottom: 80px;
    }

    h2 {
      margin-bottom: 0;
    }

    .button {
      background: transparent;
      text-transform: none;
      box-shadow: none;
      font-weight: 400;
      border: 3px solid $color-text;
      color: $color-text;

      @media (min-width: $container-ipad) {
        width: 35%;
      }

      &:hover {
        background: $color-text;
        color: #fff;
      }
    }
  }

  &.slide-linkit {
    background: darken(#fdfdfd, 2%);
    text-align: center;
    overflow: hidden;

    &.slide-miitit {
      background: darken(#fdfdfd, 8%);
    }

    .linkkilista {
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 30;
      }

      a {
        color: #3498db;
        font-weight: 400;

        &.url {
          font-family: $font-base;
          display: block;
          color: rgba(#3498db, .5);
          font-size: .8rem;
          font-weight: 300;

          img {
            display: none;
          }
        }
      }
    }
  }

  &.slide-ohje {
    text-align: center;

    h2 {
      font-family: $font-monospace;
    }

    .button {
      text-transform: none;
      box-shadow: none;
      border: 0;
      font-weight: 400;

      @media (min-width: $container-ipad) {
        width: 35%;
      }
    }
  }

  &.slide-vaihe-yksi {
    background: lighten(#87bcde, 20%);

    h2 {
      color: darken(#87bcde, 50%);
    }
  }

  &.slide-vaihe-kaksi {
    background: lighten(#5da399, 30%);

    h2 {
      color: darken(#5da399, 30%);
    }
  }

  &.slide-lopetus {
    text-align: center;
  }

  &.slide-infograafi {
    background: #f2f2f2;
    font-family: $font-alt;
    text-align: center;

    .numero {
      @include column(1/4);

      @media (max-width: $container-mobile) {
        @include stack();
        margin: 50 0;
      }

      .arvo {
        @extend .h1;
        line-height: 70px;
        font-weight: 700;
        display: block;
        color: rgba(#222, .9);
      }

      .asia {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: rgba(#222, .5);

        @media (max-width: $container-mobile) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
