.header-container {
  position: fixed;
  z-index: 100;
  overflow: visible;
  width: 100%;
  margin: 0;
  padding: 0;

  .container {
    position: relative;
  }
}

.rullaa-alas {
  @include horizontal-align();
  position: absolute;
  bottom: 15px;
  z-index: 10;

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: .6;
    font-size: 3rem;

    svg {
      transition: 400ms ease 100ms;
      fill: #fff;
    }
  }
}

// Page
.shade {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  background: #444;
}

.irclog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 500px;
  z-index: 2;
}

.irclog-page {
  width: 100%;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
}

.hidden {
  display: none;
}

.slide {
  @include background-cover();
  position: relative;
  border: 0;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;

  .container {
    position: relative;
    z-index: 3;
  }

  h1,
  h2 {
    margin-top: 0;
  }

  &.slide-irclog {
    overflow: auto;
    height: 500px;

    .button {
      background: transparent;
      text-transform: none;
      box-shadow: none;
      font-weight: 400px;
      border: 3px solid #fff;
      width: 65%;
      transition: none !important;

      @media (max-width: $container-ipad) {
        width: 100%;
      }

      &:hover {
        background: #fff;
        color: $color-text;
      }

      @media (min-width: $container-mobile) {
        &.blur-button {
          text-shadow: 0 0 22px #fff;
          opacity: .5;
          background: transparent;
          color: transparent;
          box-shadow: 0 0 17px 8px #fff, #fff 0 0 17px 8px inset;
        }
      }
    }

    .shade {
      opacity: .6;
      background: #222;

      @media (min-width: $container-mobile) {
        &.hovered {
          opacity: 0;
        }
      }

      @media (max-width: $container-mobile) {
        opacity: .8;
      }
    }

    .container {
      @include vertical-align();
      text-align: center;
      max-width: 600px;

      h2 {
        font-weight: 900;
        letter-spacing: .15em;
        margin-bottom: 20;
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;

        @media (min-width: $container-mobile) {
          &.blur {
            text-shadow: 0 0 22px #fff;
            opacity: .5;
            background: transparent;
            color: transparent;
          }
        }
      }

      h2,
      p,
      span,
      a {
        color: #fff;
        text-decoration: none;
        outline: 0 none;
        transition: 400ms ease 100ms;
      }

      p {
        @media (min-width: $container-mobile) {
          &.blur {
            text-shadow: 0 0 22px #fff;
            opacity: .5;
            background: transparent;
            color: transparent;
          }
        }
      }
    }
  }

  &.slide-esittely {
    background: #fdfdfd;
    z-index: 10;
    text-align: center;

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    h2 {
      margin-bottom: 0;
    }

    .button {
      background: transparent;
      text-transform: none;
      box-shadow: none;
      font-weight: 400;
      border: 3px solid $color-text;
      color: $color-text;

      &:hover {
        background: $color-text;
        color: #fff;
      }
    }
  }

  &.slide-linkit {
    background: darken(#fdfdfd, 2%);
    text-align: center;
    overflow: hidden;

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    &.slide-miitit {
      background: darken(#fdfdfd, 8%);

      .linkkilista {
        text-align: center;
      }
    }

    .linkkilista {
      text-align: left;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 30px;
      }

      a {
        color: #3498db;
        font-weight: 400;

        &.url {
          font-family: $font-base;
          display: block;
          color: rgba(#3498db, .5);
          font-size: 1.3rem;
          font-weight: 300;

          img {
            display: none;
          }
        }
      }
    }
  }

  &.slide-ohje {
    text-align: center;

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    h2 {
      font-family: $font-monospace;
    }
  }

  &.slide-vaihe-yksi {
    background: lighten(#87bcde, 20%);

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    h2 {
      color: darken(#87bcde, 50%);
    }
  }

  &.slide-vaihe-kaksi {
    background: lighten(#5da399, 30%);

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    h2 {
      color: darken(#5da399, 30%);
    }
  }

  &.slide-github {
    background: #4078c0;
    color: #fff;
    text-align: center;

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    .button {
      border-color: #fff;
      background: transparent;

      &:hover,
      &:focus,
      &:active {
        background: #fff;
        color: #4078c0;
      }
    }

    p {
      color: #fff;
    }

    svg {
      width: 300px;
      height: 100px;
      fill: #fff;

      path {
        fill: #fff;
      }
    }
  }

  &.slide-twitter {
    background: #1da1f2;
    color: #fff;
    text-align: center;

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    .button {
      border-color: #fff;
      background: transparent;

      &:hover,
      &:focus,
      &:active {
        background: #fff;
        color: #1da1f2;
      }
    }

    p {
      color: #fff;
    }

    svg {
      width: 300px;
      height: 100px;
      fill: #fff;

      path {
        fill: #fff;
      }
    }
  }

  &.slide-halloffame {
    background-color: #2d3739;
    color: #fff;
    text-align: center;

    .container {
      color: #fff;

      h2,
      p {
        color: #fff;
      }

      a:not(.button),
      a:link:not(.button),
      a:visited:not(.button) {
        color: #fff;
        text-decoration: underline;

        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }

      .button {
        border-color: #fff;
        background: transparent;

        &:hover,
        &:focus,
        &:active {
          background: #fff;
          color: #2f393b;
        }
      }

      ol {
        margin: 0;
        padding: 0;
        text-align: left;

        li {
          margin-bottom: 5px;
          counter-increment: numbers;
          list-style: none;
          position: relative;
          font-size: 14px;
          display: block;

          .bar {
            background: rgba(#ccc, .15);

            span {
              color: #fff;
              font-size: 14px;
            }

            .progress {
              background: #03a678;
              padding: 2px 10px;
              color: #fff;
              white-space: nowrap;
              overflow: visible;

              &.progress-10 {
                background: rgba(#68c3a3, .5);
              }

              &.progress-20 {
                background: rgba(#68c3a3, .5);
              }

              &.progress-30 {
                background: #16a085;
              }

              &.progress-40 {
                background: #16a085;
              }

              &.progress-50 {
                background: #049372;
              }

              &.progress-60 {
                background: #049372;
              }

              &.progress-70 {
                background: #049372;
              }

              &.progress-80 {
                background: #3fc380;
              }

              &.progress-90 {
                background: #3fc380;
              }

              &.progress-100 {
                background: #3fc380;
              }
            }

            .value {
              opacity: .4;
              margin-left: 5px;
            }
          }

          &:nth-child(1) {
            font-size: 22px;

            span {
              font-size: 22px;
            }

            .progress {
              background: #3fc380 !important;
              padding: 5px 10px;
            }
          }

          &:nth-child(2) {
            font-size: 19px;

            span {
              font-size: 19px;
            }

            .progress {
              padding: 3px 10px;
            }
          }

          &:before {
            @include vertical-align();
            content: counter(numbers) ' ';
            font-weight: bold;
            position: absolute;
            right: 15px;
            line-height: 1;
            z-index: 2;
            transition: all 1s;
            opacity: .2;
            color: #fff;
            font-size: 17px;
          }
        }
      }
    }

    .bg {
      @include background-cover();
      background-image: url('../images/halloffame.jpg');
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .5;
    }
  }

  &.slide-telegram {
    background: lighten(#38b0e2, 5%);
    color: #fff;
    text-align: center;

    .container {
      padding-top: 0;
      padding-bottom: 0;

      a:not(.button),
      a:link:not(.button),
      a:visited:not(.button),
      p a:not(.button),
      p a:link:not(.button),
      p a:visited:not(.button) {
        color: #fff;
      }
    }

    .button {
      border-color: #fff;
      background: transparent;
      text-decoration: none !important;

      &:hover,
      &:focus,
      &:active {
        background: #fff;
        color: #38b0e2;
      }
    }

    p {
      color: #fff;
    }

    svg {
      width: 300px;
      height: 100px;
      fill: #fff;

      path {
        fill: #fff;
      }
    }
  }

  &.slide-lopetus {
    text-align: center;
  }

  &.slide-infograafi {
    background: #f2f2f2;
    font-family: $font-alt;
    text-align: center;

    .numero {
      @include column(1/4);

      @media (max-width: $container-mobile) {
        @include stack();
        margin: 50px 0;
      }

      .arvo {
        @extend %h1;
        line-height: 70px;
        font-weight: 700;
        display: block;
        color: rgba(#222, .9);
      }

      .asia {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: rgba(#222, .5);
      }
    }
  }
}

.slide-irc-clients.slide {
  .col {
    @include column(1/2, $offset: 1/2);
    padding-top: 7rem;
    padding-bottom: 7rem;

    @media(max-width: 700px) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    @media(max-width: 480px) {
      @include stack();
      padding-left: 25%;
      padding-top: 0;
    }
  }

  @keyframes animatedwindow {
    from { margin-top: 100px; opacity: 0; }
    to { margin-top: 0; opacity: 1; }
  }

  img {
    position: absolute;
    left: -5%;
    transition: all .55s;

    &.animate {
      animation: animatedwindow 2s normal forwards ease-in-out;
    }
    
    @media(max-width: 1560px) {
      left: -10%;
    }

    @media(max-width: 1450px) {
      left: -20%;
    }

    @media(max-width: 1260px) {
      left: -30%;
    }

    @media(max-width: 1030px) {
      left: -40%;
    }

    @media(max-width: 910px) {
      left: -50%;
    }

    @media(max-width: 700px) {
      left: -55%;
    }

    @media(max-width: 480px) {
      left: -75%;
    }
  }

  svg {
    margin-right: 2rem;
    height: 45px;
    width: auto;

    @media(max-width: 940px) {
      height: 30px;
      margin-right: 1rem;
    }

    @media(max-width: 600px) {
      height: 22px;
      margin-right: 1rem;
    }

    &.mirc {
      margin-right: 1rem;

      @media(max-width: 940px) {
        margin-right: .5rem;
      }
    }

    &.weechat {
      margin-right: 0;
    }
  }

  .link {
    filter: grayscale(100%);
    opacity: .6;

    &:hover {
      filter: none;
      opacity: 1;
    }
  }
}

.slide-community.slide {
  .col {
    @include column(1/2);
    padding-top: 7rem;
    padding-bottom: 7rem;

    @media(max-width: 700px) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    @media(max-width: 480px) {
      @include stack();
      padding-right: 25%;
      padding-top: 0;
    }
  }

  @keyframes animatedwindow {
    from { margin-top: 100px; opacity: 0; }
    to { margin-top: 0; opacity: 1; }
  }

  img {
    position: absolute;
    right: 10%;
    transition: all .55s;

    &.animate {
      animation: animatedwindow 2s normal forwards ease-in-out;
    }

    @media(max-width: 1600px) {
      right: 0;
    }
    
    @media(max-width: 1560px) {
      right: -5%;
    }

    @media(max-width: 1450px) {
      right: -10%;
    }

    @media(max-width: 1260px) {
      right: -20%;
    }

    @media(max-width: 1030px) {
      right: -30%;
    }

    @media(max-width: 910px) {
      right: -40%;
    }

    @media(max-width: 700px) {
      right: -50%;
    }

    @media(max-width: 480px) {
      right: -75%;
    }
  }
}

