@import "jeet/index";
@import "fontface";
@import "themeoptions";
@import "base";
@import "normalize/normalize";
@import "dudemixins";
@import "typomatic2/app.scss";
@import "flexnav";
@import "trunk";
@import "font-awesome";
@import "flat-buttons";
@import "prism";
// @import "animate";
// @import "animate-settings";

/* -----------------------------------------------------------------------------
    Layout widths
----------------------------------------------------------------------------- */

.container
{
    @include center($max_width: $container-desktop, $pad: $defaultpadding);
}

a,
a:link,
a:visited
{
    text-decoration: none;

    color: $alt-color;
}

a:hover,
a:focus,
a:active
{
    color: $base-color;
}

body
{
    font-family: $alt-font-family;

    padding: 0;
}

.header-container
{
    position: fixed;
    z-index: 100;

    overflow: visible;

    width: 100%;
    margin: 0;
    padding: 0;

    .container
    {
        position: relative;
    }

}


.rullaa-alas {
    @include horizontal-align();
    position: absolute;
    bottom: 15px;
    z-index: 10;

    p {
        margin:0;
        padding:0;
        text-align:center;
        opacity: 0.6;
        @include type-scale(xxlarge);

        span {
            transition: 400ms ease 100ms;
            color: #ffffff;
        }
    }
}


/* -----------------------------------------------------------------------------
    Page
----------------------------------------------------------------------------- */

.shade
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .7;
    background: #444;
}

.irclog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    z-index: 2;
}

.hidden {
    display: none;
}

.slide
{
    position: relative;

    color: #fff;
    border: 0;
    background-color: #fff;

    @include rem('padding-top',$slidepadding);
    @include rem('padding-bottom',$slidepadding);
    @include background-cover;
    .container
    {
        position: relative;
        z-index: 3;
    }
    h1,
    h2
    {
        margin-top: 0;
    }

    &.slide-irclog {
    
        .btn {
            background: transparent;
            text-transform: none;
            box-shadow: none;
            @include type-weight(regular);
            border: 3px solid #ffffff;
            width: 65%;

            &:hover {
                background: #ffffff;
                color: $text-color;
            }
        }
        .shade
        {
            opacity: .6;
            background: #222222;
            transition: 400ms ease 100ms;
        }

        overflow: auto;
        height: 500px;

        .container {
            @include centered();
            position: absolute;
            text-align: center;
            max-width: 600px;

            h2 {
                font-weight: 900;
                letter-spacing: 0.2em;
                @include rem('margin-bottom', 20px);
                position: relative;
                text-transform: uppercase;
                @include type-scale(xlarge);
            }

            h2, p, span, a {
                color: #ffffff;
                text-decoration: none;
                outline: 0 none;
                transition: 400ms ease 100ms;
            }

        }

        .hover
         {
            color: rgba(#ffffff,0);
            text-shadow: 0 0 22px #fff;
            opacity: 0.5;
            background: transparent !important;
            color: transparent !important;
         }

         .hover-btn {
            color: rgba(#ffffff,0);
            text-shadow: 0 0 22px #fff;
            opacity: 0.5;
            background: transparent !important;
            color: transparent !important;
            box-shadow: 0 0 17px 8px #fff, #fff 0 0 17px 8px inset;
         }

        &:hover {
            h2, p, span, a
            {
                color: rgba(#ffffff,0);
                text-shadow: 0 0 22px #fff;
                opacity: 0.5;
            }

            .btn {
                box-shadow: 0 0 17px 8px #fff, #fff 0 0 17px 8px inset;
            }

            .shade {
                opacity: 0;
            }
        }
    }

    &.slide-esittely {
        background: #fdfdfd;
        z-index: 10;

        text-align: center;

        h2 {
            margin-bottom: 0;
        }

        .btn {
            background: transparent;
            text-transform: none;
            box-shadow: none;
            @include type-weight(regular);
            border: 3px solid $text-color;
            @media(min-width:$container-ipad) {
                width: 35%;
            }
            color: $text-color;

            &:hover {
                background: $text-color;
                color: #ffffff;
            }
        }

    }

    &.slide-ohje {
        text-align: center;

        h2 {
            font-family: $terminal-font-family;
        }

        .btn {
            text-transform: none;
            box-shadow: none;
            border: 0;
            @include type-weight(regular);
            @media(min-width:$container-ipad) {
                width: 35%;
            }

        }
    }

    &.slide-vaihe-yksi {
        background: lighten(#87BCDE, 20%);

        h2 {
            color: darken(#87BCDE, 50%);
        }
    }

    &.slide-vaihe-kaksi {
        background: lighten(#5DA399, 30%);
    
        h2 {
            color: darken(#5DA399, 30%);
        }

    }

    &.slide-lopetus {
        text-align: center;
    }


    &.slide-infograafi {
        background:#f2f2f2;
        font-family:$alt-font-family;
        text-align:center;
    
        .numero {
            @include col(1/4);

                @media(max-width:$container-mobile) {
                    @include stack();
                    @include rem('margin', 50px 0);
                }
        
            .arvo {
                @include type-scale(large);
                @include rem('line-height',70px);
                @include type-weight(bold);

                display:block;
                color:rgba(#222222,0.9);
            }
    
            .asia {
                @include rem('font-size', 16px);
                @include rem('line-height', 22px);
                    @media(max-width:$container-mobile) {
                        @include type-scale(medium);
                    }   
                @include type-weight(regular);
                color:rgba(#222222,0.5);
            }
        }
    }
}


/* -----------------------------------------------------------------------------
    Forms & buttons
----------------------------------------------------------------------------- */

input[type='button'],
input[type='submit'],
.btn,
.btn-default,
.button,
a.btn
{
    border-width: 0;
    box-shadow: none;
    text-shadow: none;

    @include button(desaturate(darken($alt-color,8),10), false, false, false);
    color: #fff; // kommentoi tämä pois jos haluat käyttää buttonfilun väriä joka tulee napin taustan perusteella

}

#searchform {

    input[type='text'] {
        @include rem('padding', 12px);
        color: $alt-color;
        border-color: $alt-color;
        @include rem('margin-right', 5px);
        border-style: solid;
        border-width: 2px;
        float: left;
    }

    input[type='submit'], input[type='button'] {
        float: left;
    }

}

/* -----------------------------------------------------------------------------
    Blogi
----------------------------------------------------------------------------- */

// Blogin muotoilut:

.entry-content {
    overflow:hidden;

    img {
        max-width: $container-desktop;
        height:auto;

        @media(max-width:$container-ipad) {
            width:100%;
            height:auto;        
        }

    }

    blockquote {
        color: #666;

        @include type-weight(regular);
        @include rem('padding-left',20px);
        @include rem('margin-left',0);
        border-left: 5px solid $alt-color;

        quotes: "\201C""\201D""\20'18""\2019";
    }

}

img.size-full {
    width:100%;
    height:auto;
}

.alignright {
    float:right;
    text-align:right;
    @include rem('margin-left',20px);
    @include rem('margin-bottom',20px);

    &.size-full {
        width: auto;
        height: auto;
    }
    
}

.alignleft {
    float:left;
    text-align:left;
    @include rem('margin-right',20px);
    @include rem('margin-bottom',20px);
}



.entry-title
{
    @include rem('margin-bottom',10px);

    &:first-child {
        margin-top: 0;
    }
}

.entry-time
{
    display: block;

    color: #bbb;

    @include rem('margin-top',20px);
    @include rem('margin-bottom',30px);
}

.post-meta
{
    clear: both;

    border-top: 1px solid rgba(#000,.11);

    @include rem('margin-top',50px);
    @include rem('margin-bottom',50px);
    .fa
    {
        @include rem('margin-right',5px);
    }
    .cat a,
    .tags a,
    .reply-to-comment a
    {
        color: #777;
    }
    .cat a:hover,
    .reply-to-comment a:hover
    {
        color: #111;
    }
    .fa-tags
    {
        float: left;

        @include rem('margin-right',8px);
    }
    .tags
    {
        overflow: hidden;

        margin: 0;
        padding: 0;
        li
        {
            display: inline;
            float: left;

            margin-top: 0;
            margin-left: 0;

            @include rem('margin-right',10px);
            @include rem('margin-bottom',10px);
            @include rem('line-height',20px);
            a
            {
                display: inline-block;

                border-radius: 4px;
                background: #f0f0f0;

                @include rem('padding-top',4px);
                @include rem('padding-bottom',4px);
                @include rem('padding-left',10px);
                @include rem('padding-right',10px);
                &:hover
                {
                    color: #111;
                    background: #ddd;
                }
            }
        }
    }
}

.jakonapit
{
    overflow: auto;

    @include rem('padding-top',$defaultpadding);
    @include rem('padding-bottom',$defaultpadding);
}
.nappi
{
    @include col(1/4);
}


/* -----------------------------------------------------------------------------
    Arkisto ja haku
----------------------------------------------------------------------------- */

.maintitle {
    margin-top: 0;
}

.searchpage {

    article {
        @include rem('margin-bottom',20px);
    }

}

/* -----------------------------------------------------------------------------
    Kommentit
----------------------------------------------------------------------------- */

.comment-respond
{
    @include rem('margin-bottom',30px);
}

.comment-reply-title
{
    display: none;
}

.comment-author h3.author
{
    float: left;
}

.comment-meta a
{
    text-decoration: underline;

    color: #777;
}

.comment-meta,
a.comment-time,
a:link.comment-time,
a:visited.comment-time,
.comment-time
{
    font-family: $alt-font-family;

    padding: 0;

    text-decoration: none;

    color: #999;

    @include rem('font-size',16px);
    @include rem('line-height',16px+7);
    @include rem('margin-top',10px);
    @include rem('margin-left',1px);
}

.comment-meta a:hover
{
    text-decoration: none;
}

.comment-meta
{
    display: block;
    clear: both;
}

.ping-list
{
    @include rem('margin-bottom',40px);
}

.ping-list,
.ping-list a
{
    color: #888;

    @include rem('font-size',13px);
}

.ping-list cite a
{
    @include rem('margin-right',15px);
}

.ping-list a
{
    text-decoration: underline;
}

.ping-list a:hover
{
    text-decoration: none;
}

.comment-list
{
    margin-right: 0;
    margin-left: 0;
    padding: 0;

    @include peruslista;
    @include rem('margin-top',20px);
    @include rem('margin-bottom',20px);
}

.comment-list .avatar
{
    float: right;
    overflow: hidden;

    @include rem('margin-left',20px);
}

.comment-author img
{
    border-radius: 50% 50%;
}

.comments-wrap
{
    text-align: left;

    background: #fff;
    ul,
    ol
    {
        text-align: left;
    }
}

.comment
{
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;

    @include rem('margin-top',30px);
    @include rem('margin-bottom',30px);
    @include rem('padding-top',20px);
    @include rem('padding-bottom',20px);
}

#commentform code
{
    white-space: normal !important;
}

// Admin comments:

// .comment-author-admin .the-comment p, .comment-author-admin .the-comment a {
// 	color:#b75143 !important;
// }

// .comment-author-admin .the-comment blockquote {
// 	border-color:#b75143 !important;
// }

.comment-author-admin .the-comment a
{
    text-decoration: underline;
}

.comment-author-admin .the-comment a:hover
{
    text-decoration: none;
}

.the-comment blockquote
{
    border-color: #999;
}



/* -----------------------------------------------------------------------------
    Extra
----------------------------------------------------------------------------- */

.type {

    p {
        font-family: $terminal-font-family;
        color: rgba($text-color,0.8);
        @include type-scale(18);
        margin-top: 0;
        padding-top: 0;
    }
}


@keyframes blink
{
    0% { visibility:visible; }
    100% { visibility:hidden; }
}

.cursor {
  background:rgba($text-color,0.8);
  display:inline-block;
  width:11px;
  height:2px;
  @include rem(margin,0 0 -3px 5px);
  animation: blink 1s steps(2, start) infinite;
}

.screen-reader-text
{
    display: none;
}

// Responsiivisen typografian poikkeukset:
@media(max-width:$container-mobile) { 
    p, .slide p, .slide a, .btn { 
        font-size: 19px; 
    } 
}

.content-area {
    @include rem('padding', 50px);
}