/* Web fonts */
@include fontFace('Lato','../fonts/lato-hairline-webfont', 100);
@include fontFace('Lato','../fonts/lato-hairlineitalic-webfont', 100, italic);
@include fontFace('Lato','../fonts/lato-light-webfont', 300);
@include fontFace('Lato','../fonts/lato-lightitalic-webfont', 300, italic);
@include fontFace('Lato','../fonts/lato-regular-webfont', 400);
@include fontFace('Lato','../fonts/lato-italic-webfont', 400, italic);
@include fontFace('Lato','../fonts/lato-bold-webfont', 700);
@include fontFace('Lato','../fonts/lato-bolditalic-webfont', 700, italic);
@include fontFace('Lato','../fonts/lato-black-webfont', 900);
@include fontFace('Lato','../fonts/lato-blackitalic-webfont', 900, italic);
@include fontFace('Open Sans','../fonts/opensans-light-webfont', 300);
@include fontFace('Open Sans','../fonts/opensans-lightitalic-webfont', 300, italic);
@include fontFace('Open Sans','../fonts/opensans-regular-webfont', 400);
@include fontFace('Open Sans','../fonts/opensans-italic-webfont', 400, italic);
@include fontFace('Open Sans','../fonts/opensans-semibold-webfont', 600);
@include fontFace('Open Sans','../fonts/opensans-semibolditalic-webfont', 600, italic);
@include fontFace('Open Sans','../fonts/opensans-extrabold-webfont', 800);
@include fontFace('Open Sans','../fonts/opensans-extrabolditalic-webfont', 800, italic);
@include fontFace('Source Sans Pro','../fonts/sourcesanspro-extralight-webfont', 200);
@include fontFace('Source Sans Pro','../fonts/sourcesanspro-extralightitalic-webfont', 200, italic);
@include fontFace('Source Sans Pro','../fonts/sourcesanspro-light-webfont', 300);
@include fontFace('Source Sans Pro','../fonts/sourcesanspro-lightitalic-webfont', 300, italic);
@include fontFace('Source Sans Pro','../fonts/sourcesanspro-regular-webfont', 400);
@include fontFace('Source Sans Pro','../fonts/sourcesanspro-italic-webfont', 400, italic);
@include fontFace('Source Sans Pro','../fonts/sourcesanspro-semibold-webfont', 600);
@include fontFace('Source Sans Pro','../fonts/sourcesanspro-semibolditalic-webfont', 600, italic);
@include fontFace('Source Sans Pro','../fonts/sourcesanspro-bold-webfont', 700);
@include fontFace('Source Sans Pro','../fonts/sourcesanspro-bolditalic-webfont', 700, italic);
@include fontFace('Source Sans Pro','../fonts/sourcesanspro-black-webfont', 900);
@include fontFace('Source Sans Pro','../fonts/sourcesanspro-blackitalic-webfont', 900, italic);

/* Headings, titles */
$headings-font-family: "Source Sans Pro", Helvetica, sans-serif;

/* Paragraphs */
$alt-font-family: "Lato", Helvetica, sans-serif; 

/* Everything else */
$base-font-family: "Open Sans", Helvetica, sans-serif; 

/* Colors */
$base-color: #222222;
$alt-color: #5EADD3;
$text-color: #555555;

/* Trunk navigation */
$trunk_bg: #1f2028;
$trunk_txt: #ffffff;
$bg_alt: #26292C;

/* Navigation */
$menuheight: 50px;
$menupadding: 0;
$menutxt: #ffffff;
$menutxtsize: base;
$menuhover: rgba($menutxt,0.5);
$menuactive: $alt-color;
$nav_bg: #333333;
$top_level: $bg_alt;
$second_level: lighten($nav_bg,2);
$third_level: lighten($nav_bg,4);
$fourth_level: lighten($nav_bg,6);

/* Dude breakpoints */
$container-tv: 1824px; /* default: 1824px */
$container-large: 1224px; /* default: 1224px */
$container-desktop: 960px; /* default: 1170px */
$container-landscape-ipad: 960px; /* default: 970px */
$container-ipad: 770px; /* default: 750px */
$container-mobile: 480px; /* default: 480px */
$responsivenav: 872px; /* set to navigation width */
$defaultpadding: 20px;
$slidepadding: 100px;

/* Buttons */
$buttonpadding-vertical:15px;
$buttonpadding-horizontal:27px;
$buttontxtcolor: #ffffff;

// Apply a natural box layout model to all elements
// Update: http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

html { 
	box-sizing:border-box; 
}

*, *:before, *:after { 
	box-sizing:inherit; 
}

img { 
	box-sizing:content-box; 
}

h1, h2, h3, h4, h5, h6 {
	font-family:$headings-font-family;
	color: $base-color;
}

p, ul, ol, dl, span, small, blockquote {
	font-family:$base-font-family;
	color: $text-color;
}