$responsivenav: 872px;
$defaultpadding: 30px;
$container-mobile: 480px;
$container-ipad: 770px;

@import 'http://fonts.googleapis.com/css?family=Montserrat:300,400,700|Lobster|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300|Noto+Serif:400,700,400italic,700italic|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic';
@import 'reset';
@import 'font-awesome';
@import 'compass';
@import 'jeet/index';
@import 'trunk';
@import 'sassy-buttons';

// Apply a natural box layout model to all elements
*, *:before, *:after {
  @include vendorize(box-sizing,border-box);
}

// Typomatic:
// Type scale: tiny, small, base, medium, large, xlarge, xxlarge

// The font family
$base-font-family: "Open Sans", Helvetica, sans-serif; 
$alt-font-family: "Lato", Helvetica, sans-serif; 
$blog-font-family: "Noto Serif", Helvetica, sans-serif;

// Establish a vertical rhythm
@include establish-baseline;

// Global imports
@import "breakpoint";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/hyphenation";
@import "compass/utilities/general/clearfix";

// Project imports
@import "config";
@import "functions";
@import "typomatic";
@import 'base';

$pulinankeltainen: #DDD4B2;
$pulinanvihrea: #78A22E;
$pulinanvaaleanvihrea: #BCEDA3;
$pulinankeltavihrea: #C8D55D;
$pulinansininen: #5EADD3;
$pulinanharmaa: #555555;
$pulinanpunainen: #CE5455;

$margin-bottom-titles: 12px;

h1, h2, h3, h4, h5, h6 {
  color:#333333;
  @include type-weight(bold);
}

.logocol {
  @include col(1/5, $gutter:0);
}

.logocol img {
  width:100%;
  height:auto;
}

.softa {
  @include col(4/5, $gutter:0);
  @include rem(padding,$defaultpadding);
}

.softa ul a {
  @include type-weight(bold);
}

.containercol, .mukaan {
  clear:both;
  display:block;
}

.containercol {
  background:#E5E5E5;
  background:rgba(0,0,0,0.10);
  overflow:hidden;
}

.containercol ul {
  @include type-scale(medium);
}

/* -----------------------------------------------------------------------------
    Nav
----------------------------------------------------------------------------- */

.header-container {
  @media only screen and (min-width: $responsivenav) {
    @include col(3/4);
    @include rem(margin,0 auto);
    @include cf();
    position:relative;
    float:none;
  }
}

nav li a, nav li a:link, nav li a:visited, nav li a:active, nav li a:focus {
  color: #9aa6af;
  @include rem(padding,28px 18px);
  display: block;
  @include type-scale(base);
  color:#888888;
  @include transition(background-color 0.52s ease-out);
}

nav li a:hover {
  color: #ffffff;
  background:#aaaaaa;
}

.close .menu {
  display:none;
}

/* -----------------------------------------------------------------------------
    <header>
----------------------------------------------------------------------------- */

.topic p {
  margin:0;
}

/* -----------------------------------------------------------------------------
    Basics: Structure, titles, etc.
----------------------------------------------------------------------------- */

.entry-content p {
  color:#444444;
}

.entry-content p:last-child {
  margin-bottom:0;
}

.content-area {
  @include rem(padding,$defaultpadding);
  background:#F7F9FA;
}

iframe {
  border:0;
  width:100%;
  height:auto;
  min-height:600px;
}

#page {
  @include col(3/4);
  @include rem(margin,0 auto);
  float:none;
  @include cf();
  clear:both;
}

a, a:link, a:visited {
	color:$pulinanvihrea;
	text-decoration:none;
  @include transition(background-color 0.52s ease-out);
}

body {
	font-family:$base-font-family;
	font-weight:300;
	padding:0;
  margin:0;
  background:#ffffff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	font-family:$base-font-family;
}

.site-header {
  margin:0;
  @include rem(padding,10px);
  overflow:hidden;
}

.logoarea {
  @include vendorize(box-sizing,border-box);
  @include rem(padding,10px 0 0 10px);
}

.site-header .site-title {
	@include rem(margin,0);
	padding:0;
  line-height:25px;
}

.site-description {
	font-size:15px;
	font-family:'gothamlight', Helvetica, sans-serif;
	margin:0;
	padding:0;
	color:$pulinanpunainen;
	line-height: 20px;
}

.site-title a {
	font-family: 'Lobster', Helvetica, sans-serif;
	color:$pulinansininen;
}

.site-title a:hover {
	color:#4A88A6;
	background:none transparent;
}

h1 a,h2 a,h3 a,h4 a,h4 a,h5 a, {
	background:none transparent;
}

/* -----------------------------------------------------------------------------
    Rakenteet
----------------------------------------------------------------------------- */

.headerarea {
	background:#f6f0dd;
}

.padder.logoarea {
	@include rem(padding,30px);
}


/* -----------------------------------------------------------------------------
    Etusivu + Statsihöttö
----------------------------------------------------------------------------- */

.blog-summaries {
  background:rgba(0,0,0,0.13);
  @include rem(padding,0);
  overflow:hidden;
  @include col(1/1, $gutter:0);
  @include cf();
  clear:both;
  display:block;
}

.blogposts, .urlit {
  @include col(1/2, $gutter:0);
  @include rem(padding,$defaultpadding);
  @media(max-width:$container-mobile) {
    @include col(1/1);
    @include rem(padding,$defaultpadding);
  }
}

.blog-post {
  display:block;
  clear:both;
  overflow:hidden;
  .author {
    
    @include col(1/5);

    .avatar {
      @include vendorize(border-radius,50% 50%);
    }

    p {
      clear:both;
      @include type-scale(small);
      @include rem(padding,3px 0 0 18px);
    } 
  
  }
  .excerpt {
    @include col(4/5);
  }
}

.urlit {
  overflow:hidden;
}

.blogposts h2 {
  @include type-scale(medium);
  @include type-weight(bold);
  @include rem(margin,0 0 10px 0);
  @include rem(padding,0);

  a {
    color:#666666;
  }
}

.linkkilista {
  li {
    @include rem(margin-bottom,30px);
  }
  a {
  @include type-scale(medium);
  @include type-weight(bold);
  @include rem(margin,0 0 10px 0);
  @include rem(padding,0);
  color:#666666;
  }
  a.url {
    @include type-scale(small);
    @include type-weight(thin);
    color:#444444;
    display:block;
    font-family:$base-font-family;

    img {
      display:none;
    }
  }
}

.more, .urlit .more a {
  @include type-scale(base);
}


.blogposts p, .blog-summaries li {
  @include type-scale(base);
  color:#444444;
}

.topictext {
  @include type-weight(black);
}

.topic strong {
  @include type-weight(base);
  font-style:italic;
}

.scroller {
  clear:both;
  @include cf();
  @include rem(padding,$defaultpadding);
  background:#111111;
  color:rgba(255,255,255,0.8);  
}

.type {
  background:#222222;
  @include rem(padding,20px 30px);
  color:#CFCFCF;
  @include type-scale(medium);
  overflow:hidden;
}

.type p {
  display:block;
  overflow:hidden;
  margin:0;
 @include rem(padding,10px 0);
}

@keyframes blink
{
    0% { visibility:visible; }
    100% { visibility:hidden; }
}

@-webkit-keyframes blink {
    0% { visibility:visible; }
    100% { visibility:hidden; }
}
@-moz-keyframes blink {
    0% { visibility:visible; }
    100% { visibility:hidden; }
}

.cursor {
  background:#666666;
  display:inline-block;
  width:11px;
  height:19px;
  @include rem(margin,0 0 -3px 5px);
  @include animation(blink 1s steps(2, start) infinite);
}

.normal-user {
  color:#1abc9c !important;
}

.scroller ul {
  @include type-scale(medium);
}

.ministats div {
  @include col(1/3, $gutter: 0);
  @include rem(padding,$defaultpadding);
}

.sukupuolet {
  @include col(1/1);

  div {
    @include col(1/2, $gutter: 0);
    @include rem(padding,$defaultpadding);
  }
  .naiset {
    background:#c0392b;
  }
  .miehet {
    background:#3498db;
  }
}

.mukaan {
  background:#202020;
  color:#ffffff;
  @include rem(padding,$defaultpadding);
  overflow:auto;
}

.mukaan .btn {
  @include sassy-button("flat", 4px, #009FD9, #007EC9);
  @include type-scale(medium);
  float:right;
}

.muuta {
  @include rem(margin-top,30px);
}

a.join-btn {
  @include sassy-button("flat", 4px, #009FD9, #007EC9);
  @include type-scale(large);
  color:#ffffff !important;
}

.type .btn {
  @include sassy-button("flat", 4px, #34495e, #34495e);
  @include type-scale(base);
  float:right; 
}

.mukaan div {
  @include col(1/2, $gutter:0);
  @media(max-width:$responsivenav) {
    @include col(1/1);
      a.btn {
        float:none;
        @include rem(margin,20px 0 0 0);
      }
  }
}

.mukaan a {
  @include transition(all 0.52s ease-out);
  color:rgba(255,255,255,0.5);
}

.mukaan a:hover {
  color:rgba(255,255,255,0.8);
}

.mukaan p {
  padding:0;
  margin:0;
}
.sukupuolet .fa {
  float:right;
  color:rgba(255,255,255,0.4);
}

.frontpage, .infograafit {
  @include col(1/2, $gutter: 0);
}

.frontpage {
  @include rem(padding,$defaultpadding);
}

.template-front-page-php .post {
  background:#BDC3C7;
}

.frontpage-content-area, .the-page-content, .hentry {
  padding:0;
  margin:0;
  overflow:hidden;
}

.topic {
    background: #D5F4C6;
    color: #46971D;
    @include rem(padding,$defaultpadding);
    margin:0;
}

.plakaatti {
    background: $pulinankeltainen;
    color: #46971D;
    @include rem(padding,$defaultpadding);
    margin:0;
    p {
      color:rgba(0,0,0,0.6);
      margin:0;
    }
}

.paikalla, .numero, .ministatsit, .sukupuolet  {
  @include type-scale(xxlarge);
  font-weight:900;
}

.infograafit h3, .tanaan {
  color:#555555;
  font-family:$blog-font-family;
  @include type-scale(base);
  @include rem(margin,0);
  @include rem(padding,0);  
}

.tanaan {
  white-space:nowrap;
}

.ministatsit {
  overflow:hidden;
  clear:both;
}

.ministatsit h3, .sukupuolet h3, .frontcol h3 {
  font-family:$blog-font-family;
  @include type-scale(base);
  @include rem(margin,0);
  @include rem(padding,0);  
}

.online {
  @include cf();
  clear:both;
  overflow:hidden;
}

.kayttajat {
  @include col(1/2, $gutter: 0);
  @include rem(padding,$defaultpadding+10);
  color:rgba(255,255,255,0.8);
}

.numero {
  color:rgba(255,255,255,0.8);
}

.kayttajat h3, .ministatsit h3, .tanaan, .sukupuolet h3, .frontcol h3 {
  color:rgba(255,255,255,0.6);
}

.blog-summaries h3 {
  color:rgba(0,0,0,0.3);
}

.kayttajat-yhteensa {
  background:#2980b9;
  color:rgba(255,255,255,0.8);
}

.kanavan-ika {
  background:#6EB5E5;
  background:rgba(74,163,223,0.80);
}

.rivit {
  background:#8FC6EB;
  background:rgba(74,163,223,0.62);
}

.frontpage {
  background:#7f8c8d;
}

.frontpage p {
  color:#ffffff;
}

.frontpage a {
  color:rgba(255,255,255,0.5);
  font-weight:bolder;
}

.frontpage a:hover {
  color:rgba(255,255,255,1);
}

.kayttajat-nyt {
  background:#95a5a6;
}

.kayttajat-ennatys {
  background:#bdc3c7;
}

.tanaan-pulistu {
  @include cf();
  clear:both;
}

.goalProgress {
  background:#f1c40f;
}

div.progressBar {
  letter-spacing: -1px;
  display: block;
  overflow: hidden;
  width: 20px;
  color:#f1c40f;
  @include type-scale(xlarge);
  font-weight:900;
  background:#e67e22;
  @include rem(padding,$defaultpadding);
}

span.goalAmount {
  display: none;
  text-indent: -9999px;
}

.blog-summaries h3 {
  @include rem(margin-bottom,20px);
}

/* -----------------------------------------------------------------------------
    Blogi
----------------------------------------------------------------------------- */

.tags {
  padding:0;
  @include rem(margin,20px 0);
  overflow:hidden;
}

.tags li {
  display:inline;
  @include rem(margin,0 10px 10px 0);
}

.tags li a {
  @include vendorize(border-radius,4px);
  background:#ffffff;
  @include rem(padding,8px 13px);
  display:inline-block;
  @include rem(margin,0 0 6px 0);
  color:#000000;
}

.tags li a:hover {
  background:$pulinanvihrea;
  color:#ffffff;
}

#author {
  overflow:hidden;
  clear:both;
  background:#7f8c8d;
  color:#ffffff;
  @include rem(padding,$defaultpadding);
}

#author p {
  margin-bottom:0;
  padding-bottom:0;
}

#author h3, .generich3 {
  font-family:$blog-font-family;
  @include type-scale(base);
  @include rem(margin,0 0 20px 0);
  @include rem(padding,0);  
  color:rgba(255,255,255,0.8);
}

#author .avatararea {
  @include col(1/6);
}

#author .authorinfo {
  @include col(5/6);  
}

#author .avatararea img {
  @include vendorize(border-radius,50% 50%);
  @include rem(margin,30px 0);
}

.entry-title a {
	color:#26292C;
}

.entry-title {
  @include type-scale(xlarge);
  @include type-weight(bold);
}

.entry-time {
	color:#6c7379;
	font-family:$base-font-family;
  @include type-scale(medium);
  @include type-weight(light);
}

/* -----------------------------------------------------------------------------
    Kuvat
----------------------------------------------------------------------------- */

.size-full {
	width:100%;
	height:auto;
}

/* -----------------------------------------------------------------------------
    Sivu
----------------------------------------------------------------------------- */

.entry-content strong, p strong {
  @include type-weight(bold);
}

.entry-content blockquote {
  @include rem(margin,20px 0);
  @include rem(padding,10px 20px);
  border-left:4px solid #cccccc;
  p {
    color:#999999;
    @include type-scale(large);
  }
}

/* -----------------------------------------------------------------------------
    Footer
----------------------------------------------------------------------------- */

.site-footer {
  background:#333333;
  background:rgba(0,0,0,0.10);
  color:#565656;
  color:rgba(0,0,0,0.6)
}

.site-footer p {
  @include type-scale(medium);
  @include rem(padding,$defaultpadding);
}

/* -----------------------------------------------------------------------------
    Media queries
----------------------------------------------------------------------------- */

@media(max-width:1018px) {
  .site-description {
    @include rem(font-size,12px);
  }
}

@media(max-width:$responsivenav) {

  .kayttajat, .ministats div, .frontpage, .infograafit {
    @include col(1/1, $gutter:0);
    clear:both;
    float:none;
  }

  .kayttajat, .ministats div, .frontpage {
    @include rem(padding,$defaultpadding);
  }

  .site-header .site-title {
    @include rem(margin,10px 0 20px 0);
  }
  nav, nav.close {
    @include opacity(0);
  }
  nav.open {
    @include opacity(1);
  }

  nav {
    background:#2c3e50;
  }

  nav li a, nav li a:active, nav li a:focus, nav li a:link, nav li a:visited {
    @include rem(font-size,30px);
    color:#ffffff;
    color:rgba(255,255,255,0.5);
    text-shadow:none;
    font-weight:400;
    letter-spacing:0;
    border-bottom: 1px solid #1e3042;
    border-top: 1px solid #384a5c;
  }

  nav li:last-child a {
    border-bottom:0;
  }

  nav li a:hover {
    background:#1e3042;
  }

  #page {
    @include col(1/1, $gutter:0);
    @include rem(margin-top,70px);
  }
}


// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

$breakpoint-alpha: $container-ipad; // adjust to your needs

.rwd-table {
  margin: 0;
  min-width: 300px; // adjust to your needs
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    // width:25%;
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;
      display: inline-block;
      // end options
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}

.rwd-table {
  background: #34495E;
  color: #fff;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: #dd5;
  }
}

th, td, tr {
  @include type-scale(base);
}

.poispaalta {
  color:#E8534F;
}

.komennot table code {
  background-color:#22374C;
  @include transition(background-color 0.52s ease-out);
}

.komennot table code:hover {
  background-color:#111111;
}

$transition-time: .5s;

p a {
    color: $pulinanvihrea;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    vertical-align: top;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;

    &:hover span {
      background: $pulinanvihrea;
      -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
      -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
      -ms-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
      transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    }

    span {
      display: block;
      position: relative;
      padding: 0 3px;
      -webkit-transition: all $transition-time ease;
      -moz-transition: all $transition-time ease;
      -ms-transition: all $transition-time ease;
      transition: all $transition-time ease;
      -webkit-transform-origin: 50% 0%;
      -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      &:after {
        content: attr(data-title);
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 3px;
        color: #fff;
        background: $pulinanvihrea;
        -webkit-transform-origin: 50% 0%;
        -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: translate3d( 0px, 106%, 0px ) rotateX( -90deg );
        -moz-transform: translate3d( 0px, 106%, 0px ) rotateX( -90deg );
        -ms-transform: translate3d( 0px, 106%, 0px ) rotateX( -90deg );
        transform: translate3d( 0px, 106%, 0px ) rotateX( -90deg );
      }
    }
}