/* stylelint-disable */
$color-anchor-links-paragraph: rgba($color-white, .3);
$color-anchor-links-paragraph-hover: rgba($color-white, .6);

body .block a.anchorjs-link:not(.github):not(.no-text-link):not(.post-edit-link) {
  color: $color-anchor-links-paragraph;
  text-decoration: none;
  transition: all .11s;
  box-shadow: none;
  border: 0;
  background-color: transparent;
  background-image: none;
  position: relative;
  top: -2px;
  margin-left: 5px;

  &::after {
    background-image: none;
    background-color: transparent;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: $color-anchor-links-paragraph-hover;
    border: 0;
  }
}

.edit-link .anchorjs-link {
  display: none !important;
}

.has-anchors {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    a::after {
      opacity: .5;
    }

    a:hover::after {
      opacity: 1;
    }
  }
}

.site-main .container {
  overflow: visible;
}

[data-anchorjs-icon]::after {
  -webkit-text-fill-color: $color-white;
}
