// ---------------------------------------------------------------------------
// Dudestarter settings (not part of the import!)


$weightvalue: (
  thin:   200,
  light:  300,
  regular:  400,
  bold:   700,
  black:  900
);

@mixin type-weight($weight) {
    font-weight: map-get($weightvalue, $weight);
}

// $scalevalue: (
//     huge:        $sgl-base-font-size*$MAJOR_TENTH,
//     xxlarge:     $sgl-base-font-size*$OCTAVE,
//     xlarge:      $sgl-base-font-size*$MAJOR_SEVENTH,
//     large:       $sgl-base-font-size*$MINOR_SEVENTH,
//     medium:      $sgl-base-font-size*$GOLDEN_SECTION,
//     base:        $sgl-base-font-size,
//     normal:      $sgl-base-font-size/$PERFECT_FIFTH,
//     small:       $sgl-base-font-size/$AUGMENTED_FOURTH,
//     tiny:        $sgl-base-font-size/$PERFECT_FOURTH
// );

// @mixin type-scale($scale, $rem: true) {
// 	@include sassy-gridlover-body(map-get($scalevalue, $scale), $rem); 
// }

/* Headings */

h1 { @include sassy-gridlover-heading(3, true); }
h2 { @include sassy-gridlover-heading(2, true); }
h3 { @include sassy-gridlover-heading(1, true); }
h4 { @include sassy-gridlover-heading(0, true); }
h5 { @include sassy-gridlover-heading(-1, true); }
h6 { @include sassy-gridlover-heading(-2, true); }

.tiny { @include sassy-gridlover-body($sgl-base-font-size/$PERFECT_FOURTH, true); }
.small { @include sassy-gridlover-body($sgl-base-font-size/$AUGMENTED_FOURTH, true); }
.normal { @include sassy-gridlover-body($sgl-base-font-size/$PERFECT_FIFTH, true); }
.base { @include sassy-gridlover-body($sgl-base-font-size, true); }
.medium { @include sassy-gridlover-body($sgl-base-font-size*$GOLDEN_SECTION, true); }
.large { @include sassy-gridlover-body($sgl-base-font-size*$MINOR_SEVENTH, true); }
.xlarge { @include sassy-gridlover-body($sgl-base-font-size*$MAJOR_SEVENTH, true); }
.xxlarge { @include sassy-gridlover-body($sgl-base-font-size*$OCTAVE, true); }
.huge { @include sassy-gridlover-body($sgl-base-font-size*$MAJOR_TENTH, true); }

/* Font smoothing options */
body {
font-smooth: always;
font-smoothing: antialiased;
text-size-adjust: none;
text-rendering: optimizeLegibility;
text-rendering: geometricPrecision;
-moz-osx-font-smoothing: grayscale;
}

p, ul, ol, dl, blockquote { 
  @include sassy-gridlover-body($sgl-base-font-size, true); 
}

small { 
  display: inline-block;
}