/* stylelint-disable a11y/no-display-none, number-max-precision, property-disallowed-list, sh-waqar/declaration-use-variable */
.home {
  background-color: $color-deep-blue;
}

.block-hall-of-fame {
  background-color: transparent;
  padding-top: 0;

  .container {
    overflow: visible;
    padding-top: 0;
  }

  .cols {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: 420px 3fr;
    overflow: visible;

    @media (min-width: 1000px) and (max-width: 1555px) {
      grid-template-columns: 480px 3fr;
    }

    @media (min-width: 760px) and (max-width: 1000px) {
      grid-template-columns: 340px 3fr;
    }

    @media (max-width: 760px) {
      display: block;
    }
  }

  .col-content {
    margin-bottom: 110px;

    @media (min-width: 1180px) {
      margin-top: 8rem;
    }
  }

  .block-title {
    background: linear-gradient(-70deg, #fff, #a4ebc8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-size: 52px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;

    @media (max-width: 1100px) {
      font-size: 42px;
    }
  }

  p {
    color: rgba($color-white, .8);
    font-size: 18px;
    font-weight: 500;

    @media (max-width: 800px) {
      font-size: 16px;
    }

    &.larger {
      color: $color-white;
      font-size: 22px;

      @media (max-width: 1200px) {
        font-size: 20px;
      }

      @media (max-width: 800px) {
        font-size: 80px;
      }
    }
  }
}

.how-to {
  color: rgba($color-white, .4);
  margin-top: 4rem;
  max-width: 400px;
}

.clients {
  color: rgba($color-white, .4);

  svg {
    margin-right: 1.2rem;
  }
}
