.block-infographics {
  .container {
    overflow: visible;
    padding-top: 0;
  }

  .cols {
    @include grid(4, $gutter_x: 50px, $gutter_y: 50px);
  }

  .col {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  span {
    color: $color-white;
    width: 100%;
  }

  .label {
    font-size: var(--font-size-small);
    margin-left: .4rem;
    order: 2;
  }

  .number {
    color: $color-retro-green;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 2rem;
    order: 1;
  }
}
