@import "knife";

/* Type Setup */
$body-font-size:        19px;
$body-line-height:      1.618; // default: golden: 1.618
$scale-factor:          1.333;
$ie8compatability:      true;

/* Responsive Type Setup */
$fontsize-ratio-tv: 130%;
$fontsize-ratio-desktop: 120%;
$fontsize-ratio-laptops: 115%;
$fontsize-ratio-ipads: 110%;
$fontsize-ratio-mobile: 100%;

/* Globals */
html { @include khtml(); }
body { @include kbody(); }

$weightvalue: (
  thin:   200,
  light:  300,
  regular:  400,
  bold:   700,
  black:  900
);

@mixin type-weight($weight) {
    font-weight: map-get($weightvalue, $weight);
}


p, ul, ol, dl { 
  @include ktype(0,0,1); 
}

small { 
  display: inline-block;
  @include ktype(-1,0,0); 
}


/// clearfix helper 
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after { 
   clear: both;
  }
}

%fullblock {
  overflow: hidden;
  text-align: center;
  width:100%;
}

$scalevalue: (
    huge:        5,
    xxlarge:     4,
    xlarge:      3,
    large:       2,
    medium:      1,
    base:        0,
    normal:     -1,
    small:      -2,
    tiny:       -3
);

@mixin type-scale($scale, $before: 0, $after: 1, $offset: 0, $pull: false, $push: false, $ie: $ie8compatability) {
    @include ktype(map-get($scalevalue, $scale), $before, $after);
}

/* Headings */

h1 { @include type-scale(xxlarge, 2, 1); }
h2 { @include type-scale(xlarge, 1, 1); }
h3 { @include type-scale(large, 1, 1); }
h4 { @include type-scale(medium, 1, 1); }
h5 { @include type-scale(base, 1, 0); }
h6 { @include type-scale(normal, 1, 0); }

p { @include type-scale(base); }

.tiny { @include type-scale(tiny); }
.small { @include type-scale(small); }
.normal { @include type-scale(normal); }
.base { @include type-scale(base); }
.medium { @include type-scale(medium); }
.large { @include type-scale(large); }
.xlarge { @include type-scale(xlarge); }
.xxlarge { @include type-scale(xxlarge); }
.huge { @include type-scale(huge); }

/* Font smoothing options */
body {
font-smooth: always;
font-smoothing: antialiased;
text-size-adjust: none;
text-rendering: optimizeLegibility;
text-rendering: geometricPrecision;
-moz-osx-font-smoothing: grayscale;
}