/* -----------------------------------------------------------------------------
    SASS + vars
----------------------------------------------------------------------------- */

@import url('http://fonts.googleapis.com/css?family=Lobster|Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic');

@mixin opacity($trans) {
	filter: alpha(opactiy=($trans * 100));
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
	-moz-opacity: $trans;
	-khtml-opacity: $trans;
	opacity: $trans;
}

@mixin peruslista() {
	list-style:none;
	list-style-type:none;
}

@mixin leipis() {
	font-weight:400;
	color:$pulinanharmaa;
}

@mixin background-cover() {
  background: {
    size:cover;
	repeat:no-repeat;
	position:center;
  }
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -khtml-background-size:cover;
  -o-background-size:cover;
}

@mixin background-auto() {
  background: {
    size:100% auto;
	repeat:no-repeat;
	position:center;
  }
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}

@mixin hiddentext() {
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    font-size: 0;
    text-align: start;
}

@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

/* Based on:
http://gregrickaby.com/using-the-golden-ratio-and-rems/ 

*/

// Create REM values with PX fall back
//
// Generate a REM with PX fallback from 
// $baseFontSize. Enter the desired size based
// on pixels in numerical form. Supports shorthand.
//
// Forked from: http://codepen.io/thejameskyle/pen/JmBjc
//
// @author Greg Rickaby
// @since 1.0
//
// Usage: @include rem($property, $values);
// Example Usage:
//    @include rem(font-size, 16px);
//    @include rem(margin, 0 24px 0 12px);
//
// Outputs:
//    font-size: 16px;
//    font-size: 1.6rem;
//    margin: 0 24px 0 12px;
//    margin: 0 2.4rem 0 1.2rem;
// ----------------------------------
$baseFontSize: 10; // Based on HTML reset html { font-size: 62.5%; }
 
@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}
 
@mixin rem($property, $values) {
	$px : (); 
	$rem: ();
	
	$root: $baseFontSize;
	
	@each $value in $values {
		@if $value == 0 or $value == auto {
			$px : append($px , $value);
			$rem: append($rem, $value);
		}
		
		@else if type-of($value) == number { 
			$unit: unit($value);
			$val: parseInt($value);
			
			@if $unit == "px" {
				$px : append($px,  $value);
				$rem: append($rem, ($val / $root + rem));
			}
			
			@if $unit == "rem" {
				$px : append($px,  ($val * $root + px));
				$rem: append($rem, $value);
			}
		}
		
		@else {
			$px : append($px,  $value);
			$rem: append($rem, $value);
		}
	}
	
	@if $px == $rem {
		#{$property}: $px;
	} @else {
		#{$property}: $px;
		#{$property}: $rem;
	} 
}
 
@function rem($value) {
	$root: $baseFontSize;
	$val: parseInt($value);
	$return: ();
	
	@if unit($value) == "px" {
		$return: append($return, ($val / $root + rem));
	} @else {
		$return: append($return, ($val * $root + px));
	}
	
	@return $return;
}

html {
    font-size: 62.5%; /* Our default font is now 10px, which makes math easier. Now, 1.0rem = 10px. This becomes our $rembase. */
}

$fontit: "Source Sans Pro", Helvetica, sans-serif;
$otsikot: "Source Sans Pro", "gothambold", Helvetica, sans-serif;
$pulinankeltainen: #DDD4B2;
$pulinanvihrea: #78A22E;
$pulinanvaaleanvihrea: #BCEDA3;
$pulinankeltavihrea: #C8D55D;
$pulinansininen: #5EADD3;
$pulinanharmaa: #555555;
$pulinanpunainen: #CE5455;

$font-size: 20px;
$line-height: 32px;
$line-height-titles: 55px;
$margin-bottom-titles: 12px;

body, p {

/* Calculate:
http://www.pearsonified.com/typography/ */

	font-size: $font-size;
	@include rem(font-size, $font-size);
	line-height: $line-height;
	@include rem(line-height, $line-height);

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: $line-height-titles;
    @include rem(line-height, $line-height-titles);
    margin-bottom: $margin-bottom-titles;
    @include rem(margin-bottom, $margin-bottom-titles);
    color:#333333;
}

h1 {
	@include rem(font-size, 40px);
    font-size: 40px;
}

h2 {
	@include rem(font-size, 27px);
    font-size: 27px;
    line-height: 30px;
    @include rem(line-height, 30px);
}

/* -----------------------------------------------------------------------------
    Nav
----------------------------------------------------------------------------- */

.main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  width: 72%;
  background: #fff;
}

.main::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgba(0,0,0, .15);
  width: 8px;
  height: 8px;
}

.main::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0,0,0, .4);
}

.nav-collapse {
  position: absolute;
  width: 28%;
  top: 0;
  left: 0;
}

.nav-collapse ul {
  display: block;
  width: 100%;
  list-style: none;
}

.nav-collapse li {
  width: 90%;
  display: block;
  margin:10px auto;
}

.nav-collapse a {
  color: #aaa;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  transition: background .3s ease;
  display: block;
  padding: .6em 2em;
  width: 100%;
}

.menu ul li a, .menu ul li a:link, .menu ul li a:visited {
    background: #E7E2D2;
    border: 1px solid #EDEDED;
    @include vendorize(border-radius,9px);
    color: #9FA437;
    font-weight:300;
}
.menu ul li a:hover {
    background: #9FA437;
    border: 1px solid #9FA437;
    color: #FFFFFF;
}
.menu ul li a.selected {
    background: #9FA437;
    border: 1px solid #9FA437;
    color: #FFFFFF;
}
.menu ul li a.profiili {
    background: #9C5F5F;
    border: 1px solid #9C5F5F;
    color: #FFFFFF;
}

.nav-collapse a:hover { background: rgba(255,255,255, .1) }
.nav-collapse .active a { color: #fff; background: rgba(0,0,0, .3) }
.nav-collapse li:first-child a { border-top: 0 }
.nav-collapse li:last-child a { border-bottom: 0 }
.nav-toggle { display: none }

@media screen and (max-width: 40em) {
  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
  }
  .nav-collapse {
    top: 0;
    width: 100%;
    position: relative;
  }
  .nav-collapse.opened { max-height: 9999px }
  .nav-collapse a:hover { background: transparent }
  .nav-collapse .active a:hover { color: #fff; background: rgba(0,0,0, .3) }
  .nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    text-indent: -999px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55px;
    display: block;
    margin: 0 0 5px 0;
  }
  .nav-toggle:before {
    color: #444; /* Edit this to change the icon color */
    font-family: "responsivenav";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 28px;
    text-transform: none;
    position: absolute;
    content: "\2261";
    text-indent: 0;
    text-align: center;
    line-height: 65px;
    speak: none;
    width: 100%;
    top: 0;
    left: 0;
  }
  .nav-toggle.active:before {
    font-size: 24px;
    content: "\78";
  }
  .main {
    -webkit-overflow-scrolling: auto;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .main::-webkit-scrollbar { background-color: transparent }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  body {
    background-image: url("debut_dark_@2X.png");
    -webkit-background-size: 200px 200px;
    -moz-background-size: 200px 200px;
    -o-background-size: 200px 200px;
    background-size: 200px 200px;
  }
}

@media screen and (min-width: 76em) {
  .nav-collapse { width: 18em }
  .main { width: auto; left: 18em }
}



/* -----------------------------------------------------------------------------
    Bascics: Structure, titles, etc.
----------------------------------------------------------------------------- */

a, a:link, a:visited {
	color:$pulinanvihrea;
	text-decoration:none;
}

p a:hover, p a:focus, p a:active {
	color:#ffffff;
	background:$pulinanvihrea;
}

body {
	font-family:$fontit;
	font-weight:300;
	padding:0;
}

h1, h2, h3, h4, h5, h6 {
	font-family:$otsikot;
}

.site-title {
	margin:0;
	padding:0;
}

.site-description {
	font-size:15px;
	@include rem(font-size,15px);
	font-family:'gothamlight', Helvetica, sans-serif;
	margin:0;
	padding:0;
	color:$pulinanpunainen;
	line-height: 20px;
}

.site-title a {
	font-family: 'Lobster', Helvetica, sans-serif;
	color:$pulinansininen;
}

.site-title a:hover {
	color:#4A88A6;
	background:none transparent;
}

h1 a,h2 a,h3 a,h4 a,h4 a,h5 a, {
	background:none transparent;
}

/* -----------------------------------------------------------------------------
    Rakenteet
----------------------------------------------------------------------------- */

body {
	background:#f6f0dd;
}

.headerarea {
	background:#f6f0dd;
}

.container {
	background:#ffffff;
}

.padder, .the-page-content {
	padding:20px;
	@include rem(padding,20px);
}

.container.headercontainer {
	// background:#EFEFEF;
	background:transparent none;
}

.padder.logoarea {
	@include rem(padding,30px);
}


/* -----------------------------------------------------------------------------
    Statsihöttö
----------------------------------------------------------------------------- */

.topic {
    background: #D5F4C6;
    color: #46971D;
    padding: 20px;
    margin:0 0 20px;
}

/* -----------------------------------------------------------------------------
    Blogi
----------------------------------------------------------------------------- */

.entry-title a {
	color:#26292C;
}

.entry-title {
	font-weight:900;
	@include rem(font-size,36px);
	@include rem(line-height,20px);
}

.entry-time {
	color:#6c7379;
	@include rem(font-size,18px);
	font-family:$fontit;
	font-weight:normal;
	line-height:normal;
}

/* -----------------------------------------------------------------------------
    Kuvat
----------------------------------------------------------------------------- */

.size-full {
	width:100%;
	height:auto;
}

/* -----------------------------------------------------------------------------
    Footer
----------------------------------------------------------------------------- */

