// Site header
//
// The very top of the site, element that usually includes
// the site navigation and search for example.

.site-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-bottom: var(--padding-site-header-vertical);
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  padding-top: var(--padding-site-header-vertical);
  position: relative;
  z-index: 15;
}

.site-title {
  line-height: 0;
  margin: 0;

  svg {
    height: 16.72px;
    width: 130px;
  }

  a {
    align-items: center;
    animation-direction: alternate;
    animation-duration: .15s;
    animation-iteration-count: infinite;
    animation-name: arcade;
    animation-timing-function: ease-in-out;
    color: $color-retro-green;
    display: flex;
    font-size: 18px;

    &:hover,
    &:focus {
      animation-play-state: paused;
    }
  }
}

@keyframes arcade {
  0% {
    color: #20ffa7;
  }

  35% {
    color: #4de0a5;
  }

  50% {
    color: #21f5a0;
  }

  100% {
    color: #57b992;
  }
}
