.site-footer {
  background-color: $color-black;
  border-top: 1px solid #20283c;
  padding-bottom: 8rem;
  padding-top: 8rem;
  text-align: center;

  code {
    background-color: transparent;
    border: 0;
    font-size: 30px;
    margin-bottom: 1rem;
  }

  p {
    color: rgba($color-code-blocks, .7);
  }
}
