body {
  font-family: $font-alt;
  padding: 0;

  a,
  a:link,
  a:visited {
    text-decoration: none;
    color: $color-alt;
  }

  a:hover,
  a:focus,
  a:active {
    color: $color-base;
  }

  .site-wrapper {
    .site-content {
      #searchform {
        input[type='text'] {
          padding: 12px;
          color: $color-alt;
          border-color: $color-alt;
          margin-right: 5px;
          border-style: solid;
          border-width: 2px;
          float: left;
        }

        input[type='submit'],
        input[type='button'] {
          float: left;
        }
      }

      .nappi {
        @include column(1/4);
      }

      // Extra
      .container {
        .more {
          a {
            font-size: .95rem;
            color: $color-alt;

            &:hover {
              color: lighten($color-pulinansininen, 10%);
            }
          }
        }

        .type {
          max-height: 100px;
          height: 100px;
          overflow: hidden;

          p {
            font-family: $font-monospace;
            color: rgba($color-text, .8);
            font-size: 1rem;
            margin-top: 0;
            padding-top: 0;

            @media (max-width: $container-ipad) {
              min-height: 50px;
              overflow: hidden;
              max-height: 60px;
              font-size: .8rem;
            }
          }
        }
      }

      @keyframes blink {
        0% {
          visibility: visible;
        }

        100% {
          visibility: hidden;
        }
      }

      .cursor {
        background: rgba($color-text, .8);
        display: inline-block;
        width: 11px;
        height: 2px;
        margin: 0 0 -3px 5px;
        animation: blink 1s steps(2, start) infinite;
      }

      // Responsiivisen typografian poikkeukset:
      @media (max-width: $container-mobile) {
        p,
        .slide p,
        .slide a,
        .button {
          font-size: 19px;
        }
      }

      .content-area {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .logocol {
        @include column(1/5, $gutter: 0);

        img {
          width: 100%;
          height: auto;
        }
      }

      .softa {
        @include column(4/5, $gutter: 0);
        padding: 0 50px;

        @media(max-width: $container-mobile) {
          padding: 0 20px;
        }

        h4 {
          @extend .h2;
        }

        ul {
          list-style: none;
          margin-left: 0;
          padding: 0;

          li {
            margin: 0;
            padding: 0;
          }

          a {
            font-weight: 700;
          }
        }
      }

      .containercol,
      .mukaan {
        clear: both;
        display: block;
      }

      .containercol {
        background: rgba(#000, .10);
        overflow: hidden;
        padding: 50px;

        @media(max-width: $container-mobile) {
          padding: 20px;
        }

        ul {
          font-size: 1rem;
        }
      }

      .rwd-table {
        margin: 0;
        min-width: 300px;
        overflow: hidden;

        tr {
          border: 0;
        }

        th {
          display: none;
        }

        td {
          display: block;
          min-height: 100px;

          &:first-child {
            padding-top: .5em;
          }

          &:last-child {
            padding-bottom: .5em;
          }

          &:before {
            content: attr(data-th)': ';
            font-weight: bold;
            display: inline-block;
            margin-right: 10px;

            // end options
            @media (min-width: $breakpoint-alpha) {
              display: none;
            }
          }
        }

        th,
        td {
          text-align: left;

          @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              padding-right: 0;
            }
          }
        }
      }

      .komennot {
        background: rgba(#000, .03);
        padding: 50 0;

        table {
          code {
            transition: background-color .52s ease-out;

            &:hover {
              background-color: #ddd;
            }
          }
        }
      }

      th,
      td,
      tr {
        font-size: 1rem;
      }

      .poispaalta {
        color: #e8534f;
      }

      p a:not(.button) {
        color: $color-pulinanvihrea;
        display: inline-block;
        text-decoration: none;
        overflow: hidden;
        vertical-align: top;
        perspective-origin: 50% 50%;

        &:hover span {
          background: $color-pulinanvihrea;
          transform: translate3d(0, 0, -30) rotateX(90deg);
        }

        span {
          display: block;
          position: relative;
          padding: 0 3px;
          transition: all .5s ease;
          transform-origin: 50% 0%;
          transform-style: preserve-3d;

          &:after {
            content: attr(data-title);
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            padding: 0 3px;
            color: #fff;
            background: $color-pulinanvihrea;
            transform-origin: 50% 0%;
            transform: translate3d(0, 106%, 0) rotateX(-90deg);
          }
        }
      }

      .mainox {
        margin-top: 50;

        p {
          font-size: .85rem;
          text-align: 1.22;
        }
      }

      input[type='text'],
      input[type='password'] {
        padding: 15px 20;
        font-size: 1.2rem;
        border: 2px solid $color-alt;
      }

      #loginform {
        p {
          margin: 0;

          &.forgetmetnot {
            margin-top: 0;
            margin-bottom: 20px;

            label {
              display: inline-block;
              clear: none;
            }
          }
        }

        label {
          display: block;
          clear: both;
          padding: 10px 0;
        }

        input {
          @media (max-width: $container-mobile) {
            width: 100%;
          }
        }
      }

      .wp-social-login-widget {
        margin-top: 40;
      }

      .message {
        padding: 15px !important;
        margin-bottom: 20px;
      }

      .hentry {
        .single-tribe_events .tribe-events-content,
        .tribe-events-single-event-description.tribe-events-content.entry-content.description {
          @include column(5/7);
          margin-right: 0 !important;

          @media (max-width: $container-mobile) {
            @include stack();
            margin-bottom: 20px;
          }
        }
      }

      .tribe-events-event-image {
        @include column(2/7);

        @media (max-width: $container-mobile) {
          @include stack();
          margin-bottom: 20px;
        }

        img {
          border-radius: 5px;
          width: 100%;
          height: auto;
        }
      }

      .tribe-events-cal-links {
        clear: both;
        display: block;
      }

      #tribe-events-pg-template {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      .gallery {
        blockquote,
        dl,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ol,
        p,
        table,
        ul {
          margin: 0;
        }

        img {
          border: 0 !important;
          width: 95% !important;
          height: auto;
        }
      }

      .wp-social-login-connect-with {
        margin-top: 40px !important;
        clear: both;
        display: block;
      }

      .wp-social-login-provider-list {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
        margin-bottom: 20px;

        img {
          width: auto !important;
          height: auto !important;
        }
      }

      .tml-user-avatar {
        img {
          width: auto !important;
          height: auto !important;
        }
      }

      .tribe-events-single-event-description {
        p.meetup-author {
          margin-top: 30px !important;
          display: block;
          line-height: 1.3 !important;
          opacity: .75;
          transition: all .55s;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    #tribe-events-pg-template {
      padding: 100px;
    }

    #tribe-events-content {
      .tribe-events-notices {
        margin: 0;

        * {
          font-size: 16px;
        }

        ul,
        li {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
