a,
a:link,
a:visited {
  text-decoration: none;
  color: $color-alt;
}

a:hover,
a:focus,
a:active {
  color: $color-base;
}

body {
  font-family: $font-alt;
  padding: 0;
}

.header-container {
  position: fixed;
  z-index: 100;
  overflow: visible;
  width: 100%;
  margin: 0;
  padding: 0;

  .container {
    position: relative;
  }
}

.rullaa-alas {
  @include horizontal-align();
  position: absolute;
  bottom: 15px;
  z-index: 10;

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: .6;
    font-size: 3rem;

    svg {
      transition: 400ms ease 100ms;
      fill: #fff;
    }
  }
}

// Page
.shade {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  background: #444;
}

.irclog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 500;
  z-index: 2;
}

.irclog-page {
  width: 100%;
  height: 300;
  min-height: 300;
  max-height: 300;
}

.hidden {
  display: none;
}

.slide {
  @include background-cover();
  position: relative;
  color: #fff;
  border: 0;
  background-color: #fff;
  padding-top: 100;
  padding-bottom: 100;

  .container {
    position: relative;
    z-index: 3;
  }

  h1,
  h2 {
    margin-top: 0;
  }

  &.slide-irclog {
    overflow: auto;
    height: 500;

    .button {
      background: transparent;
      text-transform: none;
      box-shadow: none;
      font-weight: 400;
      border: 3px solid #fff;
      width: 65%;

      @media (max-width: $container-ipad) {
        width: 100%;
      }

      &:hover {
        background: #fff;
        color: $color-text;
      }
    }

    .shade {
      opacity: .6;
      background: #222;
    }

    .container {
      @include centered();
      position: absolute;
      text-align: center;
      max-width: 600;

      @media (max-width: $container-mobile) {
        padding-left: 0;
        padding-right: 0;
      }

      h2 {
        font-weight: 900;
        letter-spacing: .2em;
        margin-bottom: 20;
        position: relative;
        text-transform: uppercase;
        font-size: 2rem;
      }

      h2,
      p,
      span,
      a {
        color: #fff;
        text-decoration: none;
        outline: 0 none;
        transition: 400ms ease 100ms;
      }
    }

    .hover {
      text-shadow: 0 0 22px #fff;
      opacity: .5;
      background: transparent;
      color: transparent;
    }

    .hover-button {
      text-shadow: 0 0 22px #fff;
      opacity: .5;
      background: transparent;
      color: transparent;
      box-shadow: 0 0 17px 8px #fff, #fff 0 0 17px 8px inset;
    }
  }

  &.slide-esittely {
    background: #fdfdfd;
    z-index: 10;
    text-align: center;

    h2 {
      margin-bottom: 0;
    }

    .button {
      background: transparent;
      text-transform: none;
      box-shadow: none;
      font-weight: 400;
      border: 3px solid $color-text;
      color: $color-text;

      @media (min-width: $container-ipad) {
        width: 35%;
      }

      &:hover {
        background: $color-text;
        color: #fff;
      }
    }
  }

  &.slide-linkit {
    background: darken(#fdfdfd, 2%);
    text-align: center;
    overflow: hidden;

    &.slide-miitit {
      background: darken(#fdfdfd, 8%);
    }

    .linkkilista {
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 30;
      }

      a {
        color: #3498db;
        font-weight: 400;

        &.url {
          font-family: $font-base;
          display: block;
          color: rgba(#3498db, .5);
          font-size: .8rem;
          font-weight: 300;

          img {
            display: none;
          }
        }
      }
    }
  }

  &.slide-ohje {
    text-align: center;

    h2 {
      font-family: $font-monospace;
    }

    .button {
      text-transform: none;
      box-shadow: none;
      border: 0;
      font-weight: 400;

      @media (min-width: $container-ipad) {
        width: 35%;
      }
    }
  }

  &.slide-vaihe-yksi {
    background: lighten(#87bcde, 20%);

    h2 {
      color: darken(#87bcde, 50%);
    }
  }

  &.slide-vaihe-kaksi {
    background: lighten(#5da399, 30%);

    h2 {
      color: darken(#5da399, 30%);
    }
  }

  &.slide-lopetus {
    text-align: center;
  }

  &.slide-infograafi {
    background: #f2f2f2;
    font-family: $font-alt;
    text-align: center;

    .numero {
      @include column(1/4);

      @media (max-width: $container-mobile) {
        @include stack();
        margin: 50 0;
      }

      .arvo {
        font-size: 2rem;
        line-height: 70;
        font-weight: 700;
        display: block;
        color: rgba(#222, .9);
      }

      .asia {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: rgba(#222, .5);

        @media (max-width: $container-mobile) {
          font-size: 1.2rem;
        }
      }
    }
  }
}

#searchform {
  input[type='text'] {
    padding: 12px;
    color: $color-alt;
    border-color: $color-alt;
    margin-right: 5px;
    border-style: solid;
    border-width: 2px;
    float: left;
  }

  input[type='submit'],
  input[type='button'] {
    float: left;
  }
}

.nappi {
  @include column(1/4);
}


// Extra
.more,
.urlit .more a {
  font-size: 1rem;
}

.type {
  max-height: 100;
  height: 100;
  overflow: hidden;

  p {
    font-family: $font-monospace;
    color: rgba($color-text, .8);
    font-size: 1rem;
    margin-top: 0;
    padding-top: 0;

    @media (max-width: $container-ipad) {
      min-height: 50;
      overflow: hidden;
      max-height: 60;
    }
  }
}

@keyframes blink {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

.cursor {
  background: rgba($color-text, .8);
  display: inline-block;
  width: 11px;
  height: 2px;
  margin: 0 0 -3px 5px;
  animation: blink 1s steps(2, start) infinite;
}

.screen-reader-text {
  display: none;
}

// Responsiivisen typografian poikkeukset:
@media (max-width: $container-mobile) {
  p,
  .slide p,
  .slide a,
  .button {
    font-size: 19px;
  }
}

.content-area {
  padding-top: 50;
  padding-bottom: 50;
}

.site-footer {
  background: #34495e;
  overflow: hidden;
  padding: 10;

  p {
    color: #fff;
    margin: 0;

    code {
      background: rgba(#222, .8);
    }
  }

  .col {
    @include column(1/2);

    &:nth-child(2) {
      text-align: right;
    }

    @media (max-width: $container-mobile) {
      @include stack();
      text-align: left;
    }
  }
}

.logocol {
  @include column(1/5, $gutter: 0);

  img {
    width: 100%;
    height: auto;
  }
}

.softa {
  @include column(4/5, $gutter: 0);
  padding: 100;

  ul a {
    font-weight: 700;
  }
}

.containercol,
.mukaan {
  clear: both;
  display: block;
}

.containercol {
  background: rgba(#000, .10);
  overflow: hidden;

  ul {
    font-size: 1rem;
  }
}

$breakpoint-alpha: $container-ipad;

.rwd-table {
  margin: 0;
  min-width: 300px;
  overflow: hidden;

  tr {
    border: 0;
  }

  th {
    display: none;
  }

  td {
    // width:25%;
    display: block;

    &:first-child {
      padding-top: .5em;
    }

    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)': ';
      font-weight: bold;
      display: inline-block;

      // end options
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }

  th,
  td {
    text-align: left;

    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.komennot {
  background: rgba(#000, .03);
  padding: 50 0;

  table {
    code {
      transition: background-color .52s ease-out;

      &:hover {
        background-color: #ddd;
      }
    }
  }
}

th,
td,
tr {
  font-size: 1rem;
}

.poispaalta {
  color: #e8534f;
}

p a {
  color: $color-pulinanvihrea;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  vertical-align: top;
  perspective: 600;
  perspective-origin: 50% 50%;

  &:hover span {
    background: $color-pulinanvihrea;
    transform: translate3d(0, 0, -30) rotateX(90deg);
  }

  span {
    display: block;
    position: relative;
    padding: 0 3px;
    transition: all .5s ease;
    transform-origin: 50% 0%;
    transform-style: preserve-3d;

    &:after {
      content: attr(data-title);
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0 3px;
      color: #fff;
      background: $color-pulinanvihrea;
      transform-origin: 50% 0%;
      transform: translate3d(0, 106%, 0) rotateX(-90deg);
    }
  }
}

.mainox {
  margin-top: 50;

  p {
    font-size: .85rem;
    text-align: 1.22;
  }
}

.login-logout {
  span {
    color: rgba(#fff, .8);
    margin-right: 5px;
  }
}

input[type='text'],
input[type='password'] {
  padding: 15px 20;
  font-size: 1.2rem;
  border: 2px solid $color-alt;
}

#loginform {
  p {
    margin: 0;

    &.forgetmetnot {
      margin-top: 0;
      margin-bottom: 20;

      label {
        display: inline-block;
        clear: none;
      }
    }
  }

  label {
    display: block;
    clear: both;
    padding: 10 0;
  }

  input {
    @media (max-width: $container-mobile) {
      width: 100%;
    }
  }
}

.wp-social-login-widget {
  margin-top: 40;
}

.message {
  padding: 15px !important;
  margin-bottom: 20;
}

.hentry {
  .single-tribe_events .tribe-events-content,
  .tribe-events-single-event-description.tribe-events-content.entry-content.description {
    @include column(5/7);
    margin-right: 0 !important;

    @media (max-width: $container-mobile) {
      @include stack();
      margin-bottom: 20;
    }
  }
}

.tribe-events-event-image {
  @include column(2/7);

  @media (max-width: $container-mobile) {
    @include stack();
    margin-bottom: 20;
  }

  img {
    border-radius: 5px;
    width: 100%;
    height: auto;
  }
}

.tribe-events-cal-links {
  clear: both;
  display: block;
}

#tribe-events-pg-template {
  margin-top: 50;
  margin-bottom: 50;
}

.gallery {
  blockquote,
  dl,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  table,
  ul {
    margin: 0;
  }

  img {
    border: 0 !important;
    width: 95% !important;
    height: auto;
  }
}

.wp-social-login-connect-with {
  margin-top: 40 !important;
  clear: both;
  display: block;
}

.wp-social-login-provider-list {
  padding-top: 10;
  padding-bottom: 10;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 20;

  img {
    width: auto !important;
    height: auto !important;
  }
}

.tml-user-avatar {
  img {
    width: auto !important;
    height: auto !important;
  }
}

.tribe-events-single-event-description {
  p.meetup-author {
    margin-top: 30 !important;
    display: block;
    line-height: 1.3 !important;
    opacity: .75;
    transition: all .55s;

    &:hover {
      opacity: 1;
    }
  }
}
