body {
  .site-footer {
    background: darken(#34495e, 20%);
    overflow: hidden;
    padding: 30px;

    p {
      font-size: 22px;
      color: #fff;
      margin: 0;

      @media (max-width: $container-ipad) {
        font-size: 16px;
      }

      code {
        background: none !important;
        color: lighten(#c7254e, 20%);
      }
    }

    .col {
      @include column(1/2);

      &:nth-child(2) {
        text-align: right;
      }

      @media (max-width: $container-ipad) {
        @include stack();
        text-align: left !important;
      }
    }
  }
}
