/* stylelint-disable a11y/no-display-none, number-max-precision, property-disallowed-list, sh-waqar/declaration-use-variable, no-descending-specificity, a11y/font-size-is-readable */
$red-live: #ea2429;
$white: #fff;

.toptod {
  background-color: #050505;
  border: 1px solid #20283c;
  border-radius: 8px;
  margin-left: -100px;
  padding: 3rem;
  position: relative;
  width: 420px;

  h2 {
    color: $color-white;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 3rem;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    color: $color-white;
    display: block;
    font-size: 14px;
    line-height: 1;
    margin: 1rem 0;
    padding: 0;

    &:nth-child(1) .progress::after {
      background-color: lighten(#32b457, 25%);
    }

    &:nth-child(2) .progress::after {
      background-color: lighten(#32b457, 15%);
    }

    &:nth-child(3) .progress::after {
      background-color: lighten(#32b457, 5%);
    }

    &:nth-child(5) .progress::after {
      background-color: darken(#32b457, 5%);
    }

    &:nth-child(6) .progress::after {
      background-color: darken(#32b457, 15%);
    }

    &:nth-child(7) .progress::after {
      background-color: darken(#32b457, 20%);
    }
  }

  .bar {
    border-radius: 2px;
    overflow: hidden;
    position: relative;
  }

  .bar::after,
  .progress::after {
    border-radius: 2px;
    content: '';
    display: block;
    height: 4px;
    position: relative;
  }

  .bar::after {
    background-color: rgba($color-white, .15);
    width: 100%;
  }

  .progress::after {
    background-color: darken(#32b457, 20%);
    top: 4px;
  }

  b {
    display: block;
    margin-bottom: 5px;
  }

  .value {
    font-size: 13px;
    opacity: .3;
    position: absolute;
    right: 0;
    top: 2px;
  }
}

.circle {
  background-color: $color-white;
  border-radius: 50%;
  display: inline-block;
  height: 9px;
  min-width: 9px;
  position: relative;
  width: 9px;
  z-index: 2;
}

.live-indicator-block {
  display: inline-flex;
  position: absolute;
  right: 3rem;
  top: 3rem;

  .live-indicator {
    background: $red-live;
    border-radius: 6px;
    color: $white;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    padding: 6px 7px;
    text-transform: uppercase;
    vertical-align: middle;
    width: auto;

    .blink {
      animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
      font-size: 10px;
      margin-right: 5px;
    }
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
