/* stylelint-disable a11y/no-display-none, number-max-precision, property-disallowed-list */

.block-hero-fp {
  height: 80vh;

  .cols {
    @include grid(2, $gutter_x: 50px, $gutter_y: 50px);
    overflow: visible;
  }

  .container {
    overflow: visible;
  }

  h1 {
    background: -webkit-linear-gradient(-70deg, #a2facf, #64acff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
  }
}

.irclog-wrapper {
  backface-visibility: hidden;
  background-color: $color-dark-blue;
  border-radius: 6px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .1), 0 34px 65px $color-dark-blue, 0 2.76726px 2.21381px rgba(0, 0, 0, .07), 0 6.6501px 5.32008px rgba(0, 0, 0, .04317), 0 12.5216px 10.0172px rgba(0, 0, 0, .0339075), 0 22.3363px 17.869px rgba(0, 0, 0, .0282784), 0 41.7776px 33.4221px rgba(0, 0, 0, .0235573), 0 100px 80px rgba(0, 0, 0, .0174624);
  height: 400px;
  overflow: visible;
  position: relative;
  width: 620px;

  .irclog {
    height: 100%;
    position: relative;
    width: 620px;
    z-index: 2;
  }

  .repo-terminal-glow {
    left: 0;
    margin: 0;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
  }
}

.nav-container {
  display: none;
}
