/* stylelint-disable */
.page-id-21 .block-page {
  background-color: transparent;
  z-index: 2;

  .cols {
    @include grid(2, $gutter_x: 50px, $gutter_y: 20px);

    @media (min-width: 760px) and (max-width: 1300px) {
      @include grid(2, $gutter_x: 50px, $gutter_y: 50px);
    }

    @media (max-width: 760px) {
      display: block;

      .col {
        margin-bottom: 5rem;
      }

      .col:last-child {
        margin-bottom: 0;
      }
    }
  }

  .command a::after {
    display: none;
  }

  // Remove empty paragraphs
  .command + p {
    display: none;
  }

  .command svg {
    width: 22px;
    height: 22px;
  }
}
