@if index($hamburger-types, arrowalt) {
  /*
   * Arrow Alt
   */
  .hamburger--arrowalt {
    .hamburger-inner {
      &::before {
        transition: top .1s .1s ease, transform .1s cubic-bezier(.165, .84, .44, 1);
      }

      &::after {
        transition: bottom .1s .1s ease, transform .1s cubic-bezier(.165, .84, .44, 1);
      }
    }

    &.toggle-open {
      .hamburger-inner {
        &::before {
          top: 0;
          transform: translate3d($hamburger-layer-width * -0.2, $hamburger-layer-width * -0.25, 0) rotate(-45deg) scale(.7, 1);
          transition: top .1s ease, transform .1s .1s cubic-bezier(.895, .03, .685, .22);
        }

        &::after {
          bottom: 0;
          transform: translate3d($hamburger-layer-width * -0.2, $hamburger-layer-width * .25, 0) rotate(45deg) scale(.7, 1);
          transition: bottom .1s ease, transform .1s .1s cubic-bezier(.895, .03, .685, .22);
        }
      }
    }
  }
}
