@if index($hamburger-types, arrowturn) {
  /*
   * Arrow Turn
   */
  .hamburger--arrowturn.toggle-open {
    .hamburger-inner {
      transform: rotate(-180deg);

      &::before {
        transform: translate3d(8px, 0, 0) rotate(45deg) scale(.7, 1);
      }

      &::after {
        transform: translate3d(8px, 0, 0) rotate(-45deg) scale(.7, 1);
      }
    }
  }
}
