@if index($hamburger-types, collapse) {
  /*
   * Collapse
   */
  .hamburger--collapse {
    .hamburger-inner {
      top: auto;
      bottom: 0;
      transition-duration: .13s;
      transition-delay: .13s;
      transition-timing-function: cubic-bezier(.55, .055, .675, .19);

      &::after {
        top: ($hamburger-layer-spacing * 2 + $hamburger-layer-height * 2) * -1;
        transition: top .2s .2s cubic-bezier(.33333, .66667, .66667, 1), opacity .1s linear;
      }

      &::before {
        transition: top .12s .2s cubic-bezier(.33333, .66667, .66667, 1), transform .13s cubic-bezier(.55, .055, .675, .19);
      }
    }

    &.toggle-open {
      .hamburger-inner {
        transform: translate3d(0, ($hamburger-layer-spacing + $hamburger-layer-height) * -1, 0) rotate(-45deg);
        transition-delay: .22s;
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);

        &::after {
          top: 0;
          opacity: 0;
          transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s .22s linear;
        }

        &::before {
          top: 0;
          transform: rotate(-90deg);
          transition: top .1s .16s cubic-bezier(.33333, 0, .66667, .33333), transform .13s .25s cubic-bezier(.215, .61, .355, 1);
        }
      }
    }
  }
}
